<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="d-flex">
          <div class="image">
            <img class="img-fluid" src="../../assets/images/Dakhelia.png" alt="Dakhelia-photo">
          </div>
          <div class="desc">
            <p>جمهورية مصر العربية</p>
            <p>وزارة الداخلية</p>
            <p>الادارة العامة للجوزات والهجرة والجنسية</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="text">
          <p>طلب الاقامة لاول مرة </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="navbar d-flex">
  <div class="container">
    <ul class="list-unstyled">
      <li>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">طلب الاقامة لاول مرة </a>
        <a routerLink="data" routerLinkActive="active" > البيانات الشخصية </a>
      </li>
    </ul>
  </div>
</div>
