<p class="main-color">طلب عن عائلتي او للنفس</p>
<h5>البيانات الشخصية</h5>

<div class="personal-data">
  <h5 class="main-color"><input type="checkbox"> بيانات وثيقة السفر </h5>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="mt-3">
            <label class="cust-label">الاسم اللاتيني فقط (يقبل الحروف الاتيني فقط ) *</label>
            <input type="text" class="form-control" placeholder="Mohamed fouad sakr">
          </div>
          <div class="d-flex">
            <div class="m-3">
              <label class="cust-label">الجنسية *</label>
              <select class="form-select" aria-label="Default select example">
                <option selected> مصري</option>
                <option value="1">اجنبي</option>
              </select>
            </div>
            <div class="m-3">
              <label class="cust-label">النوع *</label>
              <select class="form-select" aria-label="Default select example">
                <option selected> ذكر</option>
                <option value="1">انثي</option>
              </select>
            </div>
          </div>
          <div class="mt-3">
            <label class="cust-label">رقم وثيقة السفر *</label>
            <input type="number" class="form-control" placeholder="2238796425">
          </div>
          <div class="d-flex">
            <div class="m-3">
              <label class="cust-label">تاريخ اصدار وثيقة السفر *</label>
              <input type="datetime-local" class="form-control">
            </div>
            <div class="m-3">
              <label class="cust-label">تاريخ انتهاء وثيقة السفر *</label>
              <input type="datetime-local" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <label class="cust-label">الاسم العربي فقط (يقبل الحروف العربية فقط ) *</label>
            <input type="text" class="form-control" placeholder="محمد فؤاد صقر">
          </div>
          <div class="d-flex">
            <div class="m-3">
              <label class="cust-label">دولة الميلاد *</label>
              <select class="form-select" aria-label="Default select example">
                <option selected> مصري</option>
                <option value="1">اخري</option>
              </select>
            </div>
            <div class="m-3">
              <label class="cust-label">تاريخ الميلاد *</label>
              <input type="datetime-local" class="form-control">
            </div>
          </div>
          <div class="d-flex">
            <div class="m-3">
              <label class="cust-label"> دولة اصدار وثيقة السفر *</label>
              <select class="form-select" aria-label="Default select example">
                <option selected> مصري</option>
                <option value="اخري">اخري</option>
              </select>
            </div>
            <div class="m-3">
              <label class="cust-label">نوع وثيقة السفر *</label>
              <input type="text" class="form-control" placeholder="جواز سفر عادي">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="personal-data">
  <h5 class="main-color">
    <input type="checkbox"> بيانات التواصل مع مقدم الطلب
  </h5>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex">
            <div class="mt-3">
              <label class="cust-label">المحافظة *</label>
              <select class="form-select" aria-label="Default" select example>
                <option value="القاهرة" selected>القاهرة</option>
                <option value="اخري">اخري</option>
              </select>
            </div>
            <div class="mt-3">
              <label class="cust-label">القسم *</label>
              <select class="form-select" aria-label="Default" select example>
                <option value="القاهرة" selected>التجمع الاول</option>
                <option value="اخري">اخري</option>
              </select>
            </div>
            <div class="mt-3">
              <label class="cust-label">رقم العقار *</label>
              <input type="text" placeholder="123" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label">اسم الشارع *</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="d-flex">
            <div class="mt-3">
              <label class="cust-label"> الرقم البريدي *</label>
              <input type="text" placeholder="123" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label"> البريد الالكتروني *</label>
              <input type="email" placeholder="name@Email.com" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label"> رقم الهاتف *</label>
              <input type="number" placeholder="+020" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label"> *</label>
              <input type="number" placeholder="+020" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="personal-data">
  <div class="d-flex text-center">
    <h6 class="main-color m-top"><input type="checkbox"> هل لديك جنسيات اخري او وثائق سفر سابقة </h6>
    <div class="check m-auto">
      <input type="checkbox" name="" id=""> نعم
      <input type="checkbox" name="" id=""> لا
    </div>
    <button class="btn btn-primary button">اضافة جنسيات اخري + </button>
  </div>
  <div class="special">
    <div class="nat">
      <p> الجنسية السعودية</p>
      <p>65987461</p>
    </div>
    <div class="icon">
      <i class="fas fa-edit p-3"></i>
      <i class="fas fa-trash-alt p-3"></i>
    </div>
  </div>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="mt-3">
            <label class="cust-label">الاسم اللاتيني فقط (يقبل الحروف الاتيني فقط ) *</label>
            <input type="text" class="form-control" placeholder="Mohamed fouad sakr">
          </div>
          <div class="d-flex">
            <div class="m-3">
              <label class="cust-label">الجنسية *</label>
              <select class="form-select" aria-label="Default select example">
                <option selected> مصري</option>
                <option value="1">اجنبي</option>
              </select>
            </div>
            <div class="m-3">
              <label class="cust-label">النوع *</label>
              <select class="form-select" aria-label="Default select example">
                <option selected> ذكر</option>
                <option value="1">انثي</option>
              </select>
            </div>
          </div>
          <div class="mt-3">
            <label class="cust-label">رقم وثيقة السفر *</label>
            <input type="number" class="form-control" placeholder="2238796425">
          </div>
          <div class="d-flex">
            <div class="m-3">
              <label class="cust-label">تاريخ اصدار وثيقة السفر *</label>
              <input type="datetime-local" class="form-control">
            </div>
            <div class="m-3">
              <label class="cust-label">تاريخ انتهاء وثيقة السفر *</label>
              <input type="datetime-local" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <label class="cust-label">الاسم العربي فقط (يقبل الحروف العربية فقط ) *</label>
            <input type="text" class="form-control" placeholder="محمد فؤاد صقر">
          </div>
          <div class="d-flex">
            <div class="m-3">
              <label class="cust-label">دولة الميلاد *</label>
              <select class="form-select" aria-label="Default select example">
                <option selected> مصري</option>
                <option value="1">اخري</option>
              </select>
            </div>
            <div class="m-3">
              <label class="cust-label">تاريخ الميلاد *</label>
              <input type="datetime-local" class="form-control">
            </div>
          </div>
          <div class="d-flex">
            <div class="m-3">
              <label class="cust-label"> دولة اصدار وثيقة السفر *</label>
              <select class="form-select" aria-label="Default select example">
                <option selected> مصري</option>
                <option value="اخري">اخري</option>
              </select>
            </div>
            <div class="m-3">
              <label class="cust-label">نوع وثيقة السفر *</label>
              <input type="text" class="form-control" placeholder="جواز سفر عادي">
            </div>
          </div>
          <button class="btn btn-primary button-2">
            اضافة
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="personal-data">
  <h6 class="main-color m-top"><input type="checkbox"> بيانات اخر الوصول لجمهورية مصر العربية </h6>
  <form>
    <div class="d-flex">
      <div class="m-3">
        <label class="cust-label"> منفذ الوصول *</label>
        <select class="form-select" aria-label="Default select example">
          <option selected> القاهرة</option>
          <option value="1">الاسكندرية</option>
        </select>
      </div>
      <div class="m-3">
        <label class="cust-label">تاريخ الوصول *</label>
        <input type="datetime-local" class="form-control">
      </div>
    </div>
    <div class="d-flex">
    <div class="m-3">
      <label class="cust-label"> طريقة الوصول الي مصر *</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>اخري</option>
      </select>
    </div>
    <div class="m-3">
      <label class="cust-label"> طريقة الدخول *</label>
      <input type="text" class="form-control" placeholder="منفذ بري">
    </div>
  </div>
  </form>
</div>
<div class="personal-data">
  <h6 class="main-color">
    <input type="checkbox"> العنوان الحالي ويبانات الاتصال داخل جمهورية مصر العربية
  </h6>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex">
            <div class="mt-3">
              <label class="cust-label">المحافظة *</label>
              <select class="form-select" aria-label="Default" select example>
                <option value="القاهرة" selected>القاهرة</option>
                <option value="اخري">اخري</option>
              </select>
            </div>
            <div class="mt-3">
              <label class="cust-label">القسم *</label>
              <select class="form-select" aria-label="Default" select example>
                <option value="القاهرة" selected>التجمع الاول</option>
                <option value="اخري">اخري</option>
              </select>
            </div>
            <div class="mt-3">
              <label class="cust-label">رقم العقار *</label>
              <input type="text" placeholder="123" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label">اسم الشارع *</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="d-flex">
            <div class="mt-3">
              <label class="cust-label"> الرقم البريدي *</label>
              <input type="text" placeholder="123" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label"> البريد الالكتروني *</label>
              <input type="email" placeholder="name@Email.com" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label"> رقم الهاتف *</label>
              <input type="number" placeholder="+020" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label"> *</label>
              <input type="number" placeholder="+020" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="personal-data">
  <h6 class="main-color">
    <input type="checkbox"> بيانات اخر سفر من جمهورية مصر العربية
  </h6>
  <form>
    <div class="d-flex">
      <div class="m-3">
        <label class="cust-label"> منفذ الوصول *</label>
        <select class="form-select" aria-label="Default select example">
          <option selected> القاهرة</option>
          <option value="1">الاسكندرية</option>
        </select>
      </div>
      <div class="m-3">
        <label class="cust-label">تاريخ الميلاد *</label>
        <input type="datetime-local" class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="personal-data">
  <h6 class="main-color">
    <input type="checkbox"> العنوان الحالي ويبانات الاتصال خارج جمهورية مصر العربية
  </h6>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex">
            <div class="mt-3">
              <label class="cust-label">المحافظة *</label>
              <select class="form-select" aria-label="Default" select example>
                <option value="القاهرة" selected>القاهرة</option>
                <option value="اخري">اخري</option>
              </select>
            </div>
            <div class="mt-3">
              <label class="cust-label">القسم *</label>
              <select class="form-select" aria-label="Default" select example>
                <option value="القاهرة" selected>التجمع الاول</option>
                <option value="اخري">اخري</option>
              </select>
            </div>
            <div class="mt-3">
              <label class="cust-label">رقم العقار *</label>
              <input type="text" placeholder="123" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label">اسم الشارع *</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="d-flex">
            <div class="mt-3">
              <label class="cust-label"> الرقم البريدي *</label>
              <input type="text" placeholder="123" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label"> البريد الالكتروني *</label>
              <input type="email" placeholder="name@Email.com" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label"> رقم الهاتف *</label>
              <input type="number" placeholder="+020" class="form-control">
            </div>
            <div class="mt-3">
              <label class="cust-label"> *</label>
              <input type="number" placeholder="+020" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="personal-data">
  <h6 class="main-color">
    <input type="checkbox"> نوع الاقامة وغرضها
  </h6>
  <form>
    <div class="d-flex">
      <div class="m-3">
        <label class="cust-label"> نوع الاقامة *</label>
        <input type="text" placeholder="اقامة ثلاثية " class="form-control">
      </div>
      <div class="m-3">
        <label class="cust-label">تاريخ الميلاد *</label>
        <input type="text" placeholder="الاجنبية زوجة المصري " class="form-control">
      </div>
    </div>
  </form>
</div>

<div class="personal-data">
  <h6 class="main-color">
    <input type="checkbox"> ارفاق الستندات الداعمة لمقدم الطلب
  </h6>
  <div class="special">
    <div class="nat">
      <p> وثيقة السفر للاجانب</p>
      <p>EgyptProfile.jpg</p>
    </div>
    <div class="icon">
      <i class="fas fa-edit p-3"></i>
      <i class="fas fa-trash-alt p-3"></i>
    </div>
  </div>
  <div class="resdient special">
    <div class="nat">
      <p>غرض الاقامة</p>
    </div>
    <div class="icon">
      <i class="fas fa-cloud-upload-alt"></i>
    </div>
  </div>
  <div class="personal-data">
    <h6 class="main-color">
       <input type="checkbox"> من فضلك اجب علي الاسئلة التالية
    </h6>
    <form>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-12">
            <div class="m-3">
              <label class="cust-label">عدد الزيارات السابقة لمصر *</label>
              <input type="number" class="form-control" placeholder="1">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6  col-12">
            <div class="m-3">
              <label class="cust-label">هل سبق ان ان اعتقلت خلال فترة الزيارة لمصر *</label>
              <input type="text" class="form-control" placeholder="لا">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6  col-12">
            <div class="m-3">
              <label class="cust-label">الدول التي قمت بزيارتها في الشرق الاوسط *</label>
              <input type="text" class="form-control" placeholder="الامارت">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6  col-12">
            <div class="m-3">
              <label class="cust-label">هل سبق ان دخلت مصر او اي دولة اخري *</label>
              <input type="text" class="form-control" placeholder="نعم">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6  col-12">
            <div class="m-3">
              <label class="cust-label">سوابق اعتقال او اتهام اي من اقربك *</label>
              <input type="text" class="form-control" placeholder="لا يوجد">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6  col-12">
            <div class="m-3">
              <label class="cust-label">الاقامة  في دول الشرق الاوسط او اي دولة اخري  *</label>
              <input type="text" class="form-control" placeholder="لا يوجد">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6  col-12">
            <div class="m-3">
              <label class="cust-label">هل لديك اي جنسيات اخري </label>
              <input type="text" class="form-control" placeholder="لا">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6  col-12">
            <div class="m-3">
              <label class="cust-label">سوابق التجريد او سحب الجنسية المصرية او اي بلد اخري *</label>
              <input type="text" class="form-control" placeholder="لا يوجد">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <button class="btn btn-light button">حفظ لاستكمال الطلب لاحقا</button>
        <button class="btn btn-primary button">اضافة</button>
      </div>
    </form>
  </div>
