.main-color {
  color: #2359c2;
}
.personal-data {
  background-color: #fff;
  box-shadow: 1px 10px 10px 18px #eee;
  padding: 25px;
  margin-bottom: 30px;
}
.personal-data .cust-label {
  color: #777;
}

.personal-data .m-3 {
  flex: 1;
  margin: 10px !important;
}
.personal-data .form-select {
  background-position: left 0.75rem center !important;
}
@media (max-width: 992px) {
  input::placeholder {
    font-size: 13px;
    font-style: italic;
  }
}
@media (max-width: 768px) {
  .d-flex {
      flex-wrap: wrap;
      flex-direction: column;
   }
   .mt-3 {
    margin: 10px !important;
  }
 }
 .mt-3 {
  flex: 1;
  margin: 10px !important;
}
.button {
  margin: 20px auto 30px 0;
}
.special {
  display: flex;
  background-color: #f2f5f8;
  border: 1px solid rgb(248, 242, 242);
  box-shadow: 10px 10px 10px rgb(238, 234, 234);
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 20px;
}
.nat {
  padding: 10px;
  flex: 3;
}
@media  (max-width: 768px) {
  .nat {
    margin-top: 17px;
  }
}
.icon {
  flex: 1;
  margin-top:20px;
}
.fa-edit {
  color: #2359c2;
  cursor: pointer;
}
.fa-trash-alt {
  color: #f00;
  cursor: pointer;
}
.m-top {
  margin-top: 29px;
}
.button-2 {
  display: flex;
  margin:20px auto 10px 0;
  padding: 7px 50px !important;
}
.mt-4 {
  flex: auto;
  margin: 10px !important;
}
.resdient {
  border: 2px dashed #2359c2;
  padding: 0 20px;
}
.fa-cloud-upload-alt {
  color: #2359c2;
}
i {
  font-size: 20px;
}
.btn-light {
  border-color: #0dcaf0 !important;
  box-shadow: 6px 5px #eee !important;
}
